<html>
    <head>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="top-bar">
        </div>
        <div class="content">
            <div class="section">
<ol start="4" style="--s:4">
<li><p>Did a grey box appear? If so, well done! You've just made your first GUI!.</p></li>
<li><p>You might of noticed that the GUI is empty. Let's add some buttons</p></li>
<pre><code class="prettyprint">tkinter.Button(window, text="Rock").grid(row-0, column=0)</code></pre> <p>Go ahead and add a button for <strong>Paper</strong> and <strong>Scissors</strong></p> </ol>
<p class="emphasis">We used a <strong>grid</strong> to tell Python where to place our elements. Row describes its horizontal position and column its vertical position. Try playing around with the values.</p>
</div>
        </div>
        <div class="footer">
        </div>
    </body>
</html>
