<html>
    <head>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img id="logo" src="{{ logo }}">
            </div>
            <div class="title-box">
                <img id="character" src="{{ character }}">
                <h1 id="title">{{ title }}</h1>
            </div>
            <h3 class="description">{{description}}</h3>
        </div>
        <div class="content">
            {{ content }}
        </div>
        <div class="footer">
        </div>
        <div id="left-bar">
        </div>
    </body>
</html>
